<% layout('layouts/boilerplate')%>
    <div class="row justify-content-center pt-1">

        <div class="col-md-4 mb-3 order-last order-md-first d-none d-md-block">
            <img src='https://images.unsplash.com/photo-1589634601264-4bdab4b07ec1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80'
                class="img-fluid rounded" alt=" new coffee bag">
        </div>

        <div class="col-md-4 mb-3 order-last order-md-first d-md-none invisible">
            <img src='https://images.pexels.com/photos/134577/pexels-photo-134577.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'
                class="img-fluid rounded" alt=" new coffee bag">
        </div>



        <div class="col-md-6">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <h1>Beans</h1>
                </div>

                <div class="col d-md-none">
                    <% if (coffees.length>0) { %>
                        <a class="btn btn-sm btn-outline-secondary float-end" href="/drinks">Diary</a>
                        <% } %>
                </div>
                <!-- <div class="col-auto d-md-none">
                    <a href="/coffees/new" class="btn btn-sm">Add</a>
                </div> -->

            </div>

            <ul class="list-group mt-3 mb-5 my-md-5 list-group-flush">

                <!-- <% if (coffees.length<1) { %>

                    <li class="list-group-item coffee-type-card rounded-3"> <a href="/coffees/new">
                            <h3>
                                Add a coffee bag to start!
                            </h3>
                        </a>
                    </li>
                    <% } %> -->



                <% for (let coffee of coffees) { %>
                    <li class="list-group-item coffee-type-card trans-background rounded-3 shadow "><a
                            href="/coffees/<%= coffee._id %>">
                            <h3>
                                <%= coffee.name %>
                            </h3>
                            <p>
                                <%= coffee.weight %> grams
                            </p>
                            <p>Roasted <%= coffee.ageInDays %> days ago
                                    <img src="/icons/Portafilter-color_icon.png" alt="espresso icon" height="35px"
                                        class="float-end" id="espresso_cup">
                            </p>
                        </a>

                    </li>
                    <% } %>
            </ul>
        </div>

        <div class="col-md-2 mb-3">
            <div class="row justify-content-between">
                <div class="col">
                    <a href="/coffees/new" class="btn btn-sm btn-secondary">New Beans</a>
                </div>
                <!-- <% if (coffees.length>0) { %>
                    <div class="col d-md-none">
                        <a class="btn btn-sm btn-secondary float-end px-2" href="/drinks">Diary </a>
                    </div>
                    <% } %> -->
            </div>
        </div>


    </div>
    <% if(coffeesArchived.length>0) { %>
        <div class="row justify-content-center mt-5">

            <div class="col-md-4 mb-3">
                <img src='https://images.unsplash.com/photo-1465176728568-7da7e336b1e9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80'
                    class="img-fluid rounded" alt="old coffee bag">
            </div>


            <div class="col-md-6">
                <ul class="list-group my-5 list-group-flush">
                    <% for (let coffee of coffeesArchived) { %>

                        <h3>
                            <span class="text-muted text-decoration-none" data-bs-toggle="collapse"
                                href="#A<%=coffee._id%>" aria-expanded="false" aria-controls="archived coffee">
                                <%=coffee.name%>

                            </span>
                        </h3>
                        <span class="bg-light text-dark me-auto">
                            <% if (coffee.drinks.length> 1) { %>
                                <%=coffee.drinks.length%> Coffees &nbsp;
                                    <% } %>
                        </span>
                        <p>
                            Roasted: <%= (coffee.date).toLocaleDateString('pt-PT') %>
                        </p>

                        <div class="row row-cols-sm-auto g-1 d-flex justify-content-between border-bottom mb-3 ">
                            <div class=" col-10"></div>
                            <div class="col py-2 ">
                                <div class="collapse multi-collapse " id="A<%=coffee._id%>">
                                    <div class="row row-cols-auto g-3 align-items-end">
                                        <div class="col-sm-10 col-6 mb-3"></div>

                                        <form action="/coffees/makeActive/<%=coffee._id%>?_method=PUT" method="POST">
                                            <button class="btn btn-sm btn-outline-secondary">Restore</button>
                                        </form>
                                        <form action="/coffees/<%=coffee._id%>?_method=DELETE" method="POST">
                                            <button class="btn btn-sm btn-outline-danger">X</button>
                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                        </li>
                        <% } %>

                </ul>
            </div>
            <div class="col-md-2">

            </div>

        </div>
        <% } %>

            <style>
                @media screen and (max-width: 480px) {

                    body {


                        background-image: radial-gradient(rgba(255, 253, 253, 0.96), rgba(255, 253, 253, 0.86)),
                            url("../img/janko-ferlic-h9Iq22JJlGk-unsplash.jpg");

                        background-size: cover;
                        background-position: center;

                    }

                    .trans-background {
                        background-color: rgba(255, 255, 255, 0.7);


                    }
                }
            </style>